.App {
  text-align: center;
  background-color: #1c1e21;
}

/* HEADER*/

.header{
  margin-top: 0px;
  color: #fff;
  background-color: #374151;
  padding: 10px;
}
.front_img{
  padding: 60px;
  margin-bottom: -90px;
}
.front{
  color: #fff;
  min-height: 50vh;
  background-color: #1c1e21;
  font-size: calc(50px + 1vmin);
  padding: 10px;
}

.front_sub{
  font-size: calc(25px + 1vmin);
  color:#fff;
}

.get{
  font-size: calc(15px + 1vmin);
  color:#61dafb;
  display: inline-flex;
  justify-content: space-around;
}
 
/* NAVIGATIONABAR*/

.navbar{
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: -3px;
  background-color: #78839b33;
  /*font-size: calc(11px + 1vmin);*/
  padding: 8px;
}


/* FEARTURES*/

.features{
  display: flex;
  justify-content: space-around;
  color:#fff;
}

/* FEARTURES2*/

.features2{
  margin: 20px;
}
.App-logo {
  height: 190px;
  pointer-events: none;
}

/* NAVIGATION LOGO*/

.logo{
  color: #61dafb;
  display: flex; 
  height: 40px;
  margin: 8px 0px 8px 0px;
  margin-right: 30px;
  font-size: 19px;
}

.logo h3{
  margin: 4px 0px 20px 10px;
}

.link{
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
